*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace, monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.editor {

}

.editor__input {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  line-height: 1.6;
  font-family: inherit;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.editor__input:focus {
  outline: none;
  box-shadow: 0px 0px 10px black;
}

.editor__output {
  display: none;
  margin-top: .3rem;
  color: #333;
}

.editor__output::before {
  content: "=>";
  margin-right: .4rem;
  display: inline-block;
}

.editor__result {
  display: inline-block;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
